@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body {
    padding:0;
    margin:0;
    font-family: 'Roboto', 'sans-serif';
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.dark-background {
    background-color: rgb(75, 151, 126);
}

button, .bright-background {
    background-color: rgb(114, 228, 190);
}

.hero-primary-color, button, .sign-up-final-title {
    color: #F9FAF8;
}

.hero-secondary-color, a, .sign-up-final-text, .footer {
    color: #E5E7EB
}

a, .sing-up-final-text {
    font-size: 18px;
}

.top {
    padding-top: 10px;
    padding-bottom: 100px;
    display: flex;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.top-container {
    width: 650px;
    margin: 0 auto;
    flex: 0 1 auto;
}

.logo {
    font-size: 24px;
}

.header-links {
    display: flex;
    gap: 20px;
}

.top-info-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.img-wrapper {
    flex: 1 1 0;
}

.img-wrapper img {
   width: 100%;
   height: 100%;
} 

.sign-up-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    flex: 1 1 0;     
}

button {
    padding: 10px;
    border: 2px;
    border-radius: 10px;
}

.bottom button {
    border-color: #E5E7EB;
    border-style: solid;
    margin-left: auto;
}

.top-title {
    font-size: 48px;
    font-weight: bolder;
}

.middle {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 100px;
}

.illustrations-title {
    font-size: 30px;
    font-weight: 600px;
    margin-bottom: 30px;
}

.illustration-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card {
    width: 150px;
    height: 150px;
}

.card img {
    width: 100%;
    height: 100%;
    border: 5px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(114, 228, 190);
}

.quote-section {
    padding: 50px 0;
    background-color: rgb(216, 216, 216);
}

.quote-container {
    margin: 0 auto;
    width: 500px;
}

.quote {
    font-style: italic;
    font-size: 32px;
}

.author {
    font-size: 25px;
    font-weight: 600;
    text-align: end;
}

.bottom {
    padding-block: 100px;
    padding-inline: 50px;
}

.sign-up-final {
    margin: 0 auto;
    width: 520px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;

}

.sign-up-final-title {
    font-size: 24px;
}

.footer {
    text-align: center;
    padding: 20px 0;
}

