@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

body {
    padding:0;
    margin:0;
    font-family: 'Roboto', 'sans-serif';
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.dark-background {
    background-color: #1F2937
}

button, .bright-background {
    background-color: #3882F6
}

.hero-primary-color, button, .sign-up-final-title {
    color: #F9FAF8;
}

.hero-secondary-color, a, .sign-up-final-text, .footer {
    color: #E5E7EB
}

.logo {
    font-size: 24px;
}

a, .sing-up-final-text {
    font-size: 18px;
}

.top {
    padding-top: 20px;
    padding-bottom: 150px;
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.header-links {
    display: flex;
    gap: 20px;
}

.top-title {
    font-size: 48px;
    font-weight: bolder;
}

.top-container {
    width: 900px;
    flex: 0 1 auto;
}

.top-info-container {
    display: flex;
    height: 300px;
    justify-content: space-between;
    gap: 20px;
}

.top-info-container button {
    margin-top: auto;
}

.img-wrapper {
    max-width: 500px;
    flex: 1.3 1 0;
}

.img-wrapper img {
   width: 100%;
   height: 100%;
} 

.sign-up-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    flex: 1 1 0;     
}

button {
    padding: 10px 30px;
    border: 2px;
    border-radius: 10px;
    font-weight: bold;
}

.bottom button {
    border-color: #E5E7EB;
    border-style: solid;
    margin-left: auto;
}

.middle {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 200px;
}

.illustrations-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 60px;
}

.illustration-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.card {
    width: 150px;
    height: 150px;
}

.card img {
    width: 100%;
    height: 100%;
    border: 5px;
    border-radius: 10px;
    border-style: solid;
    border-color: #3882F6;
}

.quote-section {
    padding: 150px 200px;
    background-color: rgb(216, 216, 216);
}

.quote {
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
}

.author {
    font-size: 25px;
    font-weight: 600;
    text-align: end;
}

.bottom {
    padding: 100px 0;
    display: flex;
    justify-content: center;
}

.sign-up-final {
    max-width: 620px;
    padding: 50px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    flex: 0 1 auto;
}

.sign-up-final-title {
    font-size: 24px;
    font-weight: bold;
}

.footer {
    text-align: center;
    padding: 20px 0;
}

