body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.top {
    background-color: aquamarine;
    padding: 10px 150px;
    padding-bottom: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.logo {
    font-size: 25px;
    font-weight: 600;
}

.header-links {
    display: flex;
    gap: 20px;
}

.top-info-container {
    display: flex;
    justify-content: space-between;
    height: 300px;
    gap: 20px;
}

.img-wrapper {
    flex: 1 1 0;
}

.img-wrapper img {
   max-height: 100%;
   min-width: 0px;
}

.sign-up-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 1 0;     
}

button {
    margin-top: auto;
}

.top-title {
    font-size: 35px;
    font-weight: 600;
}

.middle {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 100px;
}

.illustrations-title {
    font-size: 30px;
    font-weight: 600px;
    margin-bottom: 30px;
}

.illustration-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card div {
    width: 100px;
}

.card img {
    height: 100px;
    width: 100px;
}

.quote-container {
    padding: 40px 150px;
    background-color: rgb(216, 216, 216);
}

.quote {
    font-style: italic;
    font-size: 35px;
}

.author {
    font-size: 25px;
    font-weight: 600;
    text-align: end;
}
